body {
  font-family: 'Avenir Next LT Pro';
}

#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

/* .profile-photo {
  height: 50% !
} */

.imgLogo {
  margin-right: .3rem;
  height: 0rem;
}

.imgLogo > img {
  width: 100%;
  height: auto;
}

.andela {
  width: 2.5rem;
  margin-top: -.3rem;  
  
}

.site-link {
  color: white;
}

.site-link:hover {
  color: rgb(0, 191, 255)
}

.dayTrackerLogo, .kanairologo {
  padding: 1rem;;
  display:flex;
  /* align-items: center; */
  /* justify-content: center; */

}

.kanairologo {
  margin-top: -1rem ;
  width: 10rem;
}

.kanairolinks {
 display:block;
 margin: 0rem !important;
}

.portfolio-copy {
  font-size: 90%;
}

.porfolio-item {
  margin-right: 3rem;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
